@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend", sans-serif;
  background-color: #ededed;
}

.bgImageHero {
  background-image: url("./assets/heromain.png");
  height: 26.8rem;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .bgImageHero {
    background-image: url("./assets/heromain.png");
    height: 88vh;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.box-shadow-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-shadow-image-right {
  box-shadow: 17px 17px 1px 5px #546ba6;
}

.box-shadow-image-left {
  box-shadow: -17px 17px 1px 5px #546ba6;
}

.card-border {
  border: 1px solid #546ba6;
  box-shadow: -2px -1px 7px rgb(246 130 112 / 25%);
}

.text-type-3xl {
  @apply font-bold text-[34px] leading-[46px] 
        md:text-[48px] md:leading-[60px];
}

.text-type-2xl {
  @apply font-bold text-[40px] leading-[50px];
}

.text-type-xl {
  @apply font-bold text-[32px] leading-[40px];
}

.text-type-md {
  @apply font-bold text-[12px] leading-[15px]
        md:text-[24px] md:leading-[30px];
}

.text-type-sm {
  @apply font-normal text-[10px] leading-[12px]
          md:text-base md:leading-6;
}

.button-type-primary {
  @apply bg-[#546BA6] p-4 w-full rounded-[10px] 
          shadow-sm text-[#EDEDED] box-shadow-button
          hover:bg-[#7185B9]  transition-colors;
}

.button-type-secondary {
  @apply bg-[#EDEDED] p-4 w-full rounded-[10px] 
          shadow-sm text-[#546BA6] box-shadow-button
          hover:bg-[#FAF2F2]  transition-colors;
}
